<form class="styled-form side-by-side" action="/users/signin" method="post">
  <fieldset>
    <dl>
      <dt><label for="username">Username:</label></dt>
      <dd><input id="username" name="username" value="<%= params[:username] %>"/></dd>
  
      <dt><label for="password">Password </label></dt>
      <dd><input type="password" id="password" name="password" /></dt>
    </dl>
    <button type="submit" class="btn">Sign In</button>
  </fieldset>
</form>